@model TuyenDungCore.Models.Dtos.Candidate.CandidateVm

@{
    ViewBag.Title = "Thông tin ứng viên";
    ViewBag.PrevPage = "Quản lý ứng viên";
    ViewBag.CurrentPage = "Thông ứng viên '" + Model.Name + "'";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-2">
                    <h4 class="header-title mb-0">Thông tin ứng viên: @Model.Name</h4>
                </div>
                <div class="collapse pt-3 show">
                    <div class="form-horizontal">

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Id, "Mã ứng viên", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Id)
                            </div>
                        </div>
                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Name, "Tên ứng viên", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Phone, "Số điện thoại", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Phone)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Gender, "Giới tính", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Gender)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Dob, "Nhập ngày sinh", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Dob)
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            @Html.LabelFor(model => model.Address, "Nhập địa chỉ", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.DisplayTextFor(model => model.Address)
                            </div>
                        </div>

                        <div class="form-group align-items-center row mt-3">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-6">
                                @Html.ActionLink("Trở về", "Index", "Candidate", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
